- name: Deploy to Tomcat
hosts: web
become: yes
tasks:
- name: Copy WAR file to Tomcat
copy:
src:
"/var/snap/jenkins/4844/workspace/MvnAnsibleWebApp_pipe/target/MavenAnsibleWebApp.war"
dest: "/opt/tomcat/webapp/MavenAnsibleWebApp.war"
remote_src: no
- name: Restart Tomcat
systemd:
name: tomcat
state: restarted
